*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body {
    background-color: #f7f7f7;
    position: relative;
}

.container {
    max-width: 1200px;
    padding: 1.5rem;
    margin: 0 auto;
}

/* - HEADER - */

header {
    background-color: #eeeeee;
    font-weight: 700;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-name {
    font-size: 1.6rem;
}

.add-btn {
    text-decoration: none;
    color: #fff;
    background-color: #929aab;
    font-size: 1.1rem;
    padding: 0.5rem 1.1rem;
    outline: none;
    border-radius: 3px;
    transition: all 0.1s ease-in;
}

.add-btn:hover {
    transform: scale(1.05);
}

/* - MAIN - */


main .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text-empty {
    color: #000;
    font-size: 1.1rem;
    margin-top: 2rem;
}

/* - MAIN / BOOKS - */

.books {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.booksCard {
    background-color: #eee;
    padding: 2rem;
    border-radius: 10px;
    flex-basis: 300px;
    flex-grow: 1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.booksTitle {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 0.8rem;
}

.booksAuthor {
    font-size: 0.9rem;
    font-weight: 500;
}

.booksPages {
    font-size: 0.9rem;
    font-weight: 300;
}


/* MODAL START */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1rem;
    border: 1px solid #888;
    width: 50%;
}

.hidden {
    display: none;
}

/* MODAL END */